<style>
    /* เพิ่มฟอนต์ TH Sarabun */
    @font-face {
        font-family: 'TH Sarabun';
        src: url('/assets/erpnext/fonts/THSarabun.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    /* กำหนดให้ใช้ TH Sarabun แต่รักษาภาษาเดิม */
    body, body * {
        font-family: 'TH Sarabun' !important;
    }
    
    /* กำหนดขนาดตัวอักษรสำหรับส่วนต่างๆ */
    .print-heading h2 {
        font-size: 14pt !important;
        margin: 0;
        padding: 0;
    }
    
    .print-heading .sub-heading {
        font-size: 12pt !important;
        display: block;
        margin-top: 5px;
    }
    
    .margin-bottom table,
    .margin-bottom table td,
    .margin-bottom table th,
    .margin-bottom table tr {
        font-size: 12pt !important;
    }
    
    /* ปรับขนาดฟอนต์สำหรับข้อมูลข้างๆ ตาราง */
    .col-xs-6 strong {
        font-size: 12pt !important;
    }
    
    .col-xs-6 {
        font-size: 12pt !important;
    }
</style>

{% set hhh= doc.name[:2] %}
{% if doc.name[:2] == 'RV' %} {% set xhead  = 'สมุดรายวันรับชำระ' %} {% set xsubhead  = 'Cash Receipts Journal' %}
{% else %}  {% if doc.name[:2] == 'RO' %} {% set xhead  = 'สมุดรายวันรับเงินอื่นๆ'%} {% set xsubhead  = 'Receipt Other' %}
{% else %}  {% if doc.name[:2] == 'RP' %} {% set xhead  = 'สมุดรายวัน clear เงินทดรองจ่าย'%} {% set xsubhead  = 'Clear Advance Journal' %}
{% else %}  {% if doc.name[:7] == 'ITG-PEY' %} {% set xhead  = 'สมุดรายวันจ่ายพนักงาน'%} {% set xsubhead  = 'Employee' %}
{% else %}  {% if doc.name[:7] == 'ITG-PPP' %} {% set xhead  = 'ใบสำคัญตัดเงินจ่ายล่วงหน้า'%} {% set xsubhead  = 'P-Payment' %}
{% else %}  {% if doc.name[:6] == 'ITG-PI' %} {% set xhead  = 'สมุดรายวันตัดตั๋วรับ'%} {% set xsubhead  = 'Pay-in' %}
{% else %}  {% if doc.name[:6] == 'ITG-PO' %} {% set xhead  = 'สมุดรายวันตัดตั๋วจ่าย'%} {% set xsubhead  = 'Pay Out' %}
{% else %}  {% if doc.name[:2] == 'PV' %} {% set xhead  = 'สมุดรายวันจ่ายชำระ'%} {% set xsubhead  = 'Payment Journal' %}
{% else %}                                {% set xhead     = 'Payment Entry' %} {% set xsubhead  = doc.name %}
{% endif %} {% endif %} {% endif %} {% endif %} {% endif %} {% endif %} {% endif %} {% endif %}
<div class="print-heading">				
<h2>{{ xhead }}<br/>
<small class="sub-heading">{{ xsubhead }}</small>				
</h2></div>

{%- if doc.docstatus == 0 -%}
<div class="text-center" document-status="draft">
    <h4 style="margin: 0px; font-size: 16pt !important;"> == DRAFT == </h4>
</div>
{%- endif -%}

{# --------------------------------------- #}
{% if doc.payment_type != 'Internal Transfer' %}
    {% set xparty  = doc.party_name %}
{% else %}
    {% if doc.refer_party_type in  ("Customer","Supplier", "Employee") %}  {% set xparty   = doc.refer_party_name %}
    {% else %}                           {% set xparty   = doc.refer_party_name %}
    {% endif %}
{% endif %}

{% set xstate   = 'UNKNOWN' %}
{% if doc.docstatus == 0 %}  {% set xstate   = 'DRAFT' %}       {% endif %}
{% if doc.docstatus == 1 %}  {% set xstate   = 'SUBMITTED' %}   {% endif %}

<div class="row margin-bottom">
{# ------------------- Header 1, col 1 -------------------- #}
<div class="col-xs-6">
    <table style="width: 100%;">
    {% if doc.name[:6] == 'ITG-PI' %} {% set xname  = 'Pay-In'%} {% set xsubrate  = 'Pay-In1' %}
	<tr><td><strong>{{ xname }}:</strong></td><td>{{doc.paid_from_account_type }}</td></tr>
	{% else %} {% if doc.name[:6] != 'ITG-PI' %}
        <tr><td><strong>Party: </strong></td><td>{{ xparty }}</td></tr>
    {% if doc.name[:2] != 'RO' %} {% if doc.payment_type != 'Internal Transfer' %}
        <tr><td><strong>Address: </strong></td><td>{{ doc.refer_full_address }}</td></tr>
        <tr><td><strong>TAX Id: </strong></td><td>{{ doc.refer_tax_number }}</td></tr>
    {% endif %} {% endif %} {% endif %} {% endif %}
    </table>
</div>
{# ------------------- Header 1, col 2 -------------------- #}
<div class="col-xs-6">
    <table style="width: 100%;">
        <tr><td><strong>Document No: </strong></td><td>{{ doc.name }}</td></tr>
        <tr><td><strong>Date: </strong></td><td>{{ frappe.utils.format_date(doc.posting_date) }}</td></tr>
        <tr><td><strong>Currency: </strong></td><td>{{ doc.paid_to_account_currency }} ({{ doc.target_exchange_rate }}) </td></tr>
        <tr><td><strong>NAV ref No: </strong></td><td>{{ doc.nav_reference_no }}</td></tr>
    </table>
</div>
</div>